{{#each patients}}
    <div class="container mt-5">
        <h1>User Information</h1>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Username:</strong> {{this.Username}}</li>
                    <li class="list-group-item"><strong>Password:</strong> {{this.Password}}</li>
                    <li class="list-group-item"><strong>First Name:</strong> {{this.Userfirstname}}</li>
                    <li class="list-group-item"><strong>Last Name:</strong> {{this.Userlastname}}</li>
                    <li class="list-group-item"><strong>Date of Birth:</strong> {{this.Date}}</li>
                    <li class="list-group-item"><strong>CCCD:</strong> {{this.CCCD}}</li>
                    <li class="list-group-item"><strong>Address:</strong> {{this.Useradress}}</li>
                    <li class="list-group-item"><strong>Phone:</strong> {{this.Userphone}}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Sex:</strong> {{this.Sex}}</li>
                    <li class="list-group-item"><strong>Nation:</strong> {{this.Nation}}</li>
                    <li class="list-group-item"><strong>Religion:</strong> {{this.Religon}}</li>
                    <li class="list-group-item"><strong>Job:</strong> {{this.Job}}</li>
                    <li class="list-group-item"><strong>Insurance Code:</strong> {{this.Insurancecode}}</li>
                    <li class="list-group-item"><strong>Family First Name:</strong> {{this.Familyfirstname}}</li>
                    <li class="list-group-item"><strong>Family Last Name:</strong> {{this.Familylastname}}</li>
                    <li class="list-group-item"><strong>Family Address:</strong> {{this.Familyadress}}</li>
                    <li class="list-group-item"><strong>Family Phone:</strong> {{this.Familyphone}}</li>
                </ul>
            </div>
        </div>
    </div>
{{/each}}